<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Locker Room</title>
  </head>
  <body>
    <div class="logo">
      <img src="/img/LOGO.png" alt="logo" width="200px" />
    </div>
    <main>
      <form action="/api/login" method="POST" class="login">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit" class="homebuttons" href="/api/homepage">Log In</button>
      </form>
    </main>
  </body>
</html>