<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Locker Room</title>
  </head>
  <body>
    <div class="logo">
      <img src="/img/LOGO.png" alt="logo" width="200px" />
    </div>
    <main>
      <form action="/api/signup" method="POST" class="signUp">
        <input type="text" id='firstName' name="firstName" placeholder="First Name" />
        <input type="text" id='lastName' name="lastName" placeholder="Last Name" />
        <select name="status" id="status">
          <option id="player">Player</option>
          <option id="coach">Coach</option>
        </select>
        <input type="text" id='username' name="username" placeholder="User Name" />
        <input type="text" id='email' name="email" placeholder="Email" />
        <input type="password" id='password' name="password" placeholder="Password" />
        <button class="homebuttons" href="/api/homepage">Sign Up</button>
      </form>
    </main>
  </body>
</html>